<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="cadastro">
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()"
      novalidate>
      <mat-card-content>
        <dio-input-text titulo="Título *" [formGroup]="cadastro" controlName="titulo"></dio-input-text>
        <dio-input-text titulo="Link Foto" [formGroup]="cadastro" controlName="urlFoto"></dio-input-text>
        <dio-input-date titulo="Data de Lançamento *" [formGroup]="cadastro" controlName="dtLancamento">
        </dio-input-date>
        <dio-input-textarea titulo="Descrição" [formGroup]="cadastro" controlName="descricao"></dio-input-textarea>
        <dio-input-text titulo="Link IMDb" [formGroup]="cadastro" controlName="urlIMDb"></dio-input-text>
        <dio-input-number titulo="Nota IMDb *" [formGroup]="cadastro" [step]="0.1" controlName="nota">
        </dio-input-number>
        <dio-input-select titulo="Gênero *" [formGroup]="cadastro" [opcoes]="generos" controlName="genero">
        </dio-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" type="submit" mat-raised-button>Salvar</button>
        <button color="warn" type="reset" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>